* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  background-color: #7bd3ea;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.box {
  height: 100px;
  width: 100px;
  border-radius: 1rem;
  border: none;
  background-color: rgb(255, 247, 236);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 11vmin;
  color: #df826c;
}

#reset-btn {
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  border: none;
  font-size: 1.25rem;
}

#new-btn {
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  border: none;
  font-size: 1.25rem;
}

#msg {
  color: #ffffff;
  font-size: 4vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

@media (max-width: 992px) {
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 768px) {
  .container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 480px) {
  .msg-container {
    height: 30vmin;
  }
  .container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    height: 60px;
    width: 60px;
  }
  #new-btn {
    font-size: 1rem;
  }
  #msg {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .msg-container {
    height: 40vmin;
    margin-bottom: 20px;
  }
  .container {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    height: 50px;
    width: 50px;
  }
  #new-btn {
    font-size: 1rem;
  }
  #msg {
    font-size: 1rem;
  }
}
